<!DOCTYPE html>
<html>

<head>
 <style>
  table,
  th,
  td {
   border: 1px solid black;
   border-collapse: collapse;
  }
 </style>
 <style>
  table.custom-table {
   border: none;
   width: 100%;
  }

  .custom-table th,
  .custom-table td {
   border: none;
   padding: 8px;
   text-align: left;
  }

  .custom-table tr.dekat {
   margin: -10px;
  }
 </style>
</head>

<body>

 <h2>Cell that spans two rows</h2>
 <p>To make a cell span more than one row, use the rowspan attribute.</p>

 <table style="width:100%">
  <tr>
   <td rowspan="2" style="width:60%; text-align:center;">Phone</td>
   <td colspan="7">Nomor DPPA</td>
   <td rowspan="2">Formulir</td>
  </tr>
  <tr>
   <td>555-8745</td>
   <td>555-8745</td>
   <td>555-8745</td>
   <td>555-8745</td>
   <td>555-8745</td>
   <td>555-8745</td>
   <td>555-8745</td>
  </tr>
  <tr>
   <td colspan="9" style="text-align:center;"><strong>PEMERINTAH PROVINSI SUMATERA SELATAN</strong><br> Tahun
    Anggaran</td>
  </tr>
  <tr>
   <td colspan="9" style="text-align:center;">
    <table class="custom-table">
     <tbody>
      <tr style="margin:1px;">
       <td style="width:150px;">Urusan Pemerintahan</td>
       <td>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr>
      <tr>
       <td style="width:150px;">Bidang Pemerintahan</td>
       <td>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr>
     </tbody>
    </table>
   </td>
  </tr>
 </table>
</body>

</html>