<!DOCTYPE html>
<html>

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <style>
    table.custom-table {
      border: none;
      width: 100%;
    }

    .custom-table th,
    .custom-table td {
      border: none;
      padding: 8px;
      text-align: left;
    }

    .custom-table tr.dekat {
      margin: -10px;
    }
  </style>
  <style>
    table.dppa {
      width: 100%;
      border-collapse: collapse;
      /* Menggabungkan garis tepi sel */
    }

    .dppa th,
    .dppa td {
      border-top: 1px solid black;
      /* Tambahkan border-top pada sel */
    }

    .dppa td:first-child {
      border-left: none;
      /* Hapus border kiri untuk sel pertama dalam baris */
    }

    .dppa td:last-child {
      border-right: none;
      /* Hapus border kanan untuk sel terakhir dalam baris */
    }

    table.table2 {
      /* Atur properti untuk memulai Tabel 2 di halaman baru saat mencetak */
      page-break-before: always;
    }
  </style>
</head>

<body>

  <h2>Cell that spans two rows</h2>
  <p>To make a cell span more than one row, use the rowspan attribute.</p>

  <!-- Tabel 1 -->
  <table style="width: 100%;">
    <thead style="text-align: center">
      <tr>
        <th><strong>DOKUMEN PELAKSANAAN ANGGARAN <br> SATUAN KERJA PERANGKAT DAERAH</strong></th>
        <td rowspan="2">FORMULIR <br> DPPA RINCIAN BELANJA SKPD</td>
      </tr>
      <tr>
        <td>Provinsi Sumatera Selatan <br> TAHUN ANGGARAN 2024</td>
      </tr>
    </thead>
  </table>
  <table style="width: 100%;" class="dppa">
    <tbody>
      <tr>
        <td style="width: 250px;">Nomor DPPA</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Urusan Pemerintahan</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Bidang Urusan</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Program</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Kegiatan</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Organisasi</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Unit</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Alokasi Tahun -1</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Alokasi Tahun</td>
        <td>: </td>
      </tr>
      <tr>
        <td>Alokasi tahun +1</td>
        <td>: </td>
      </tr>
    </tbody>
  </table>
  <table style="width: 100%;">
    <thead style="text-align: center">
      <tr>
        <th colspan="5">Indikator dan Tolak Ukur Kinerja Kegiatan</th>
      </tr>
      <tr>
        <th rowspan="2" style="width: 140px; vertical-align: middle;">Indikator</th>
        <th colspan="2">Sebelum</th>
        <th colspan="2">Sesudah</th>
      </tr>
      <tr>
        <th>Tolak Ukur Kerja</th>
        <th>Target Kinerja</th>
        <th>Tolak Ukur Kerja</th>
        <th>Target Kinerja</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Capaian Kegiatan
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_ck_tuk_sbm" placeholder="tuk">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_ck_tk_sbm" placeholder="tk">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_ck_tuk_sth" placeholder="tuk">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_ck_tk_sth" placeholder="tk">
        </td>
      </tr>
      <tr>
        <td>
          Masukan
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_m_tuk_sbm" placeholder="tuk m">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_m_tk_sbm" placeholder="tk m">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_m_tuk_sth" placeholder="tuk m">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_m_tk_sth" placeholder="tk m">
        </td>
      </tr>
      <tr>
        <td>
          Keluaran
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_k_tuk_sbm" placeholder="tuk k">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_k_tk_sbm" placeholder="tk k">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_k_tuk_sth" placeholder="tuk k">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_k_tk_sth" placeholder="tk k">
        </td>
      </tr>
      <tr>
        <td>
          Hasil
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_h_tuk_sbm" placeholder="tuk h">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_h_tk_sbm" placeholder="tk h">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_h_tuk_sth" placeholder="tuk h">
        </td>
        <td>
          <input type="text" class="form-control" wire:model="dokPel_h_tk_sth" placeholder="tk h">
        </td>
      </tr>

      <tr>
        <td colspan="5"></td>
      </tr>

      <tr>
        <td colspan="2">Sub Kegiatan</td>
        <td colspan="3">
          <input type="text" class="form-control" wire:model="dokPel_sk" placeholder="Sub Kegiatan">
        </td>
      </tr>
      <tr>
        <td colspan="2">Sumber Pendanaan</td>
        <td colspan="3">
          <input type="text" class="form-control" wire:model="dokPel_sp" placeholder="Sumber Pendanaan">
        </td>
      </tr>
      <tr>
        <td colspan="2">Lokasi</td>
        <td colspan="3">
          <input type="text" class="form-control" wire:model="dokPel_lokasi" placeholder="Lokasi">
        </td>
      </tr>
      <tr>
        <td colspan="2">Keluaran Sub Kegiatan</td>
        <td colspan="3">
          <input type="text" class="form-control" wire:model="dokPel_ksk" placeholder="Keluaran Sub Kegiatan">
        </td>
      </tr>
      <tr>
        <td colspan="2">Waktu Pelaksanaan</td>
        <td colspan="3">
          <input type="text" class="form-control" wire:model="dokPel_waktu" placeholder="Waktu Pelaksanaan">
        </td>
      </tr>
      <tr>
        <td colspan="2">Keterangan</td>
        <td colspan="3">
          <input type="text" class="form-control" wire:model="dokPel_keterangan" placeholder="Keterangan">
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tabel 2 -->
  <table style="width: 100%;" class="table2">
    <thead style="text-align: center">
      <tr>
        <th rowspan="3" style="width: 130px; vertical-align: middle;">Kode Rekening
        </th>
        <th rowspan="3" style="width: 150px; vertical-align: middle;">Uraian</th>
        <th colspan="10">Rincian Perhitungan</th>
        <th rowspan="3" style="max-width: 150px; vertical-align: middle;">
          Bertambah/<br>Berkurang</th>

      </tr>
      <tr>
        <th colspan="5">Sebelum</th>
        <th colspan="5">Sesudah</th>
      </tr>
      <tr>
        <th style="width: 50px;">Koefisien/<br>Volume</th>
        <th style="width: 80px;">Satuan</th>
        <th style="width: 150px;">Harga</th>
        <th style="width: 20px">PPN</th>
        <th style="width: 150px">Jumlah</th>

        <th style="width: 50px;">Koefisien/<br>Volume</th>
        <th style="width: 80px;">Satuan</th>
        <th style="width: 150px;">Harga</th>
        <th style="width: 20px">PPN</th>
        <th style="width: 150px">Jumlah</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>Rekening</strong>
        </td>
        <td>
          Lorem ipsum dolor sit amet
        </td>
        <td>
          SBM V
        </td>
        <td>
          SBM S
        </td>
        <td>
          SBM H
        </td>
        <td>
          100%
        </td>
        <td>
          Rp. 100.000.000
        </td>

        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>

        <td>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" style="text-align: right;">Jumlah Anggaran Sub Kegiatan &nbsp;</td>
        <td>Jumlah</td>
        <td colspan="4" style="text-align: right;">Jumlah Anggaran Sub Kegiatan &nbsp;</td>
        <td>Jumlah</td>
      </tr>
    </tfoot>
  </table>

  <!-- Tabel 3 -->
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td colspan="2">Rencana Realisasi Belanja per Bulan *) <br> (Rp)</td>
        <td rowspan="14"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>